<!--

Step 1 code

<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
</head>
<body>
    <h1>Hello! Flask is working! 🎉</h1>
</body>
</html>

-->
<!DOCTYPE html>
<html>
<head><title>Users</title></head>
<body>
    <h1>Users from Database</h1>
    <table border="1">
        <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>Delete</th>
        </tr>
        {% for user in user_accounts %}
        <tr>
            <td>{{ user.account_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            
        <!--add a button that uses the delete route-->
        <!--changed the delete button to map the users on their rows-->
        <td>
        <form method="POST" action="/delete/{{ user.account_id }}"> <!--chamged id to account_id to match the database-->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit">Delete</button>
        </form>
        </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Documents</h1>
    <table border="1">
        <tr>
            <th>ID</th><th>Title</th><th>Content</th>
        </tr>
        {% for doc in documents %}
        <tr>
            <td>{{ doc.document_id }}</td>
            <td>{{ doc.title }}</td>
            <td>{{ doc.content }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/register"><button>Register</button></a>
    <a href="/add"><button>Add Document</button></a>
    <a href="/search"><button>Search User</button></a>
    <a>Welcome! <a href="{{ url_for('logout') }}">Log Out</a>


</body>
</html>

<!-- in Jinja2 double curly braces (Flask's template engine) outputs a variable. Curly-percent tags is for logic like for loops and if statements.-->