<!DOCTYPE html>

<html>
<body>
    
    <h1>Register User</h1>
        <form method = "POST" action = "/register">
            <label>Enter username: </label>
            <input type="text" name="name" required> <br>
            <label>Enter email: </label>
            <input type="email" name="email"> <br>
            <label>Create password: </label>
            <input type="password" name="password"> <br>
        </form>
        <button type="submit">
            Register 
        </button>

</body>
</html>